<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
</head>
<body>
	<h1>Notícia</h1>

<<<<<<< Updated upstream
	<table>
		<tr>
			<td>ID</td>
			<td>Titulo</td>
			<td>Noticia</td>
		</tr>
=======
		<table>
			
			<tr>
				<td><b>ID</b></td>
				<td><b>Título da Notícia</b></td>
				<td><b>Resumo da Notícia</b></td>
				<td><b>Autor (a)</b></td>
				<td><b>Notícia</b></td>
				<td><b>Data da Notícia</b></td>
			</tr>
			<tr>
				<td><%= noticias[1].id_noticia %></td>
				<td><%= noticias[1].titulo %></td>
				<td><%= noticias[1].resumo %></td>
				<td><%= noticias[1].autor %></td>
				<td><%= noticias[1].noticia %></td>
				<td><%= noticias[1].data_noticia %></td>
			</tr>
		</table>
>>>>>>> Stashed changes

	
		<tr>
			<td><%= noticia[0].id_noticia %></td>
			<td><%= noticia[0].titulo %></td>
			<td><%= noticia[0].noticia %></td>
		</tr>
	</table>
</body>
</html>